.panel {
  border: lightgreen solid 2px;
  border-radius: 6px 6px;
  box-shadow: 10px 10px 10px lightgrey;
  margin: 15px;
  line-height: 0;
  width: 75%;
}

.panel:hover {
  background-color: teal;
}

.symbol {
  font-weight: 600;
  padding:  10px;
}

.name {
  font-weight: normal;
}

.red {
  color: red;
}

.black {
  color: black;
}
